{% extends 'layout.html' %}

{% block content %}
<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="12u 12u(medium)">
								<h2>Hi. This is The Y List.</h2>
								<p>We aim to connects students at Yale and create meaningful friendships and relationships while having fun</p>
							</div>
						</div>
						<div class="row">
						    <div class="12u 12u(medium)">
								<h3>The Y List was started by two graduate students at Yale School of Management</h3>
							</div>
							<div class="6u 12u(medium)">
							    <section class="box feature">
									<a href="#" class="image featured"><img src="/public/static/images/ruirui_profile.jpg" alt=""></a>
									<div class="inner">
										<header>
											<a href="https://www.linkedin.com/in/ruiruikuang/"><h2>Ruirui Kuang</h2></a>
										</header>
									</div>
								</section>
							</div>
								<div class="6u 12u(medium)">
								    <section class="box feature">
    									<a href="#" class="image featured"><img src="/public/static/images/abhi_profile.png" alt=""></a>
    									<div class="inner">
    										<header>
    											<a href="https://www.linkedin.com/in/abhirammoturi"><h2>Abhi Moturi</h2></a>
    										</header>
    									</div>
    								</section>
								</div>
						</div>
					</div>
				</div>
{% endblock %}