{% extends 'layout.html' %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="aboutcolumn">
    <div class="ui raised segment">
        <h3>About</h3>
        <div class="ui divider"></div>
       <h3 class="ui header">
    The Y List is a venture founded by two students at Yale School of Management. Ruirui, and Abhi. 
</h3>
    
<h4 class="ui header">
    The Y List connects Yale students. More info upcoming
</h4> 
    </div>
    </div>
</div>

{% endblock %}