{% extends 'layout.html' %}

{% block content %}

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="login-content">
          <img class="ui centered small image" src="/public/static/images/the-y-list.png"/>
        </div>
      <div class="login-content">
        Log-in to your Giggly account
      </div>
    </h2>
    <form action="/user/login" method="POST" class="ui large form">
      <div class="ui raised segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input type="submit" name="Login" value="Login" class="ui fluid positive submit button">
      </div>

      <div class="ui error message"></div>

    </form>
    
    {% if errors %}
      <div class="ui negative message">
        {{errors}}
      </div>
    {% endif %}
    <div class="ui message">
      New to us? <a href="/user/register">Register</a>
    </div>
  </div>
</div>

{% endblock %}