body {
  margin: 0;
  padding: 10%;
  position: relative;
  padding-bottom: 20rem;
  min-height: 100%;
  font-family: 'Junction', serif;
  background: linear-gradient(right,#2fc3ff,#f75aa2);
}

.LoginSegment {
  width: 100%;
  padding: 10px;
  vertical-align:middle;
}

.AppContent {
    width:80%;
    margin-bottom: 10em;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  padding: 1rem;
  background-color: #f8f7f7;
  text-align: center;
}

.LandingPageSegment {
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}

.profilesSegment {
  text-align: center;
}

.column {
  max-width:450px;
}

.landingcolumn {
  max-width: 600px;
  margin: 2em;
}

.verifyemailcolumn {
  max-width: 600px;
  margin: 2em;
}